{% extends 'base.html.twig' %}

{% block body %}
	<h2>Lecturas</h2>

	<div>
	  {{ form_start(form) }}
	  	{{ form_errors(form)}}
	  	<div class="form-group">
	  		{{ form_row(form.lectura) }}
	  	</div>
	  	<div class="form-group jesus" style="display: block">
	  		{{ form_row(form.fecha) }}
	  	</div>
	  	<div class="form-group">
	  		{{ form_row(form.Agregar) }}
	  	</div>

	  {{ form_end(form)}}
	</div>



  <hr>
    <h4>- KW consumidos desde la última factura <b>{{ totalKWDesdeFactura }} Kw</b> media diaria <b>{{ mediaKWDiaria}} Kw</b></h4>
    <h4>
      - Estimacion economica: Actual <b>{{ gastoActual }}€</b> ,
      estimado para 2 meses <b>{{ gastoPrevision }}€ </b>
    </h4>
    <p>
      <a href="{{ path('estimacion_agregar') }}">Modificar Estimaciones</a>
    </p>
  <hr>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <b>Ultima Factura de {{ UltimaFactura.fecha | date ("d-m-Y") }}</b>
      </div>
      <div class="text-center">
        <a href="{{ path('facturas_agregar')}}" class="btn btn-warning" >Nueva Factura</a>
      </div>
    </div>
    <div class="panel-body">
      <li><b>Importe: </b> {{ UltimaFactura.importe }}€</li>
      <li><b>Lectura: </b> {{ UltimaFactura.lectura }} KW</li>
    </div>
  </div>

	<div id="ultimosdiezdias"></div>
	{{ columnchart('ultimosdiezdias','ultimosdiezdias') |raw }}

  <hr />
  <div id="comparativo"></div>
  {{ barchart('comparativo','comparativo') |raw }}
  <hr />

	<H3 class="text-center">CONSUMOS</H3>

  {% set lant = "" %}
	<table class="table">
	  <thead class="t-consumos">
	    <tr>
	      <th scope="col" width="30%">Fecha</th>
	      <th scope="col">Lectura</th>
	      <th scope="col">Consumo</th>
	      <th scope="col">Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for l in lecturas %}
		    <tr>
		      <td>{{ l.fecha | date ("d-m-Y") }}</td>
		      <td>{{ l.lectura }} Kw</td>
		      <td>{% if lant != "" %}{{ lant - l.lectura }} {% else %} 0 {% endif %} Kw</td>
		      <td><a href="{{ path('lecturas_eliminar',{'id': l.id})}}" onclick="return confirm('¿Estás seguro de querer borrar?')">Borrar</a></td>
			{% set lant = l.lectura %}
		    </tr>
	    {% endfor %}
	  </tbody>
	</table>
<div class="navigation text-center">
    {{ knp_pagination_render(lecturas) }}
</div>
{% endblock %}
